---
permalink: "{{ metadata.feed.path }}"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.feed.subtitle }}</subtitle>
  {% set absoluteUrl %}{{ metadata.feed.path | url | absoluteUrl(metadata.url) }}{% endset %}
  <link href="{{ absoluteUrl }}" rel="self" />
  <link href="{{ metadata.url }}" />
  <updated>{{ collections.entrys | rssLastUpdatedDate }}</updated>
  <id>{{ metadata.feed.id }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {%- for entry in collections.latest %}
  {% set absoluteEntryUrl %}{{ entry.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ entry.data.title }}</title>
    <link href="{{ absoluteEntryUrl }}" />
    <updated>{{ entry.date | rssDate }}</updated>
    <id>{{ absoluteEntryUrl }}</id>
    <content type="html">{{ entry.templateContent | htmlToAbsoluteUrls(absoluteEntryUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
