.rich-text {
    @apply text-base leading-6;
    @screen sm {
        @apply text-xl leading-8;
    }

    & a {
        @apply link;
    }

    & blockquote {
        @apply border-gray-400 border-l-4 font-normal italic my-8 pl-6 text-gray-800;
    }

    & code:not(.hljs) {
        @apply px-2 py-px rounded text-sm;
        background-color: #282828;
        color: #ebdbb2;
        @screen sm {
            @apply text-base;
        }
    }

    & code.hljs {
        @apply rounded text-sm;
        @screen sm {
            @apply text-base;
        }
    }

    & img {
        @apply -mx-6;
    }

    & pre {
        @apply -mx-6;
        & > code.hljs {
            @apply p-6;
        }
    }

    & h1 {
        @apply h1;
    }

    & h2 {
        @apply h2;
    }

    & h3 {
        @apply h3;
    }

    & h4 {
        @apply h4;
    }

    & h5 {
        @apply h5;
    }

    & h6 {
        @apply h6;
    }

    & hr {
        @apply border-b border-gray-200 my-12 rounded-full;
    }

    & li {
        @apply mb-2;
        & ul,
        & ol {
            @apply my-0;
        }
    }

    & ol,
    & ul {
        @apply my-4 pl-6;
    }

    & ol {
        @apply list-decimal;
    }

    & ul {
        @apply list-disc;
    }

    & p {
        @apply my-4;

        @screen md {
            @apply my-6;
        }
    }

    & table {
        @apply my-4 text-base -mx-6 rounded border-separate border border-gray-200;
        border-bottom-color: theme('colors.gray.300');
        border-spacing: 0;
        width: calc(100% + 3rem);
        @screen md {
            @apply my-6;
        }
    }
    & caption {
        @apply py-4 px-2 text-lg font-medium;
    }
    & thead {
        @apply bg-gray-100;
    }
    & th {
        @apply font-medium;
    }
    & tbody {
        @apply bg-white;
    }
    & td {
        @apply border-t border-gray-300;
    }
    & td,
    & th {
        @apply p-3;
    }
}
