input[name='search'] {
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.32 12.906l5.387 5.387a1 1 0 0 1-1.414 1.414l-5.387-5.387a8 8 0 1 1 1.414-1.414zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z' fill='%23cbd5e0'/%3E%3C/svg%3E");
    background-position: 0;
    background-repeat: no-repeat;
    text-indent: 1.5em;
    border-radius: 0;
}
